.splashtile {
  margin: 8px;
  padding: 8px;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  height: 250px;
  width: 220px;
}
.splashtext {
  height: 80px;
  overflow: hidden;
}
.splashhead {
  height: 20px;
  overflow: hidden;
}

.tile {
  margin: 8px;
  padding: 8px;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  height: 220px;
  width: 220px;
}

.projecttile {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  width: 320px;
  padding: 0px;
}

.projectline {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  padding: 0px;
}

@keyframes fadein {
    from { opacity: 0; margin-left: 220px; }
    to   { opacity: 1; margin-left: 8px;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; margin-left: 220px;}
    to   { opacity: 1; margin-left: 8px;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; margin-left: 220px;}
    to   { opacity: 1; margin-left: 8px;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; margin-left: 220px;}
    to   { opacity: 1; margin-left: 8px;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; margin-left: 220px;}
    to   { opacity: 1; margin-left: 8px;}
}

.contentcontainer {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1132px) {
    .contentcontainer {
        max-width: 880px;
    }
}
@media (max-width: 912px) {
    .contentcontainer {
        max-width: 700px;
    }
}
@media (max-width: 692px) {
    .contentcontainer {
        max-width: 440px;
    }
    .projecttile {
        width: calc(100% - 16px);
    }
    .desctext {
      display: none;
    }
}