/******** App-Wide Fonts *********/
.md-body-2, .md-subhead, .md-list-item-text p {
  font-size: 15px!important;
  font-weight: 300!important;
  letter-spacing: -.012em!important;
  color: rgba(0,0,0,0.95)!important;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility!important
}
a {
    text-decoration: none!important;
    font-size: 14px!important;
    font-weight: 500!important;
    letter-spacing: .018em!important
}
h1 {
    font-size: 45px!important;
    letter-spacing: -.018em!important
}
h2 {
    font-size: 18px!important;
    letter-spacing: 0!important;
    margin: 8px 0!important
}
h3, .md-list-item-text h3 {
    font-size: 20px!important;
    font-weight: 300!important;
    letter-spacing: -.032em!important;
    line-height: 2pc!important;
}
h4 {
    font-size: 1pc!important
}



/******** navigation elements *********/
.navbar{

}

.sidenav {

}

md-icon.sidenav {
  margin: 0px;
}

md-icon.caption {
  
}

/******** layout elements - splashpage *********/
.splashtile {
  margin: 8px;
  padding: 8px;
  height: 250px;
  width: 220px;
}
.splashtext {
  height: 80px;
  overflow: hidden;
}
.splashhead {
  height: 20px;
  overflow: hidden;
}

.tile {
  margin: 8px;
  padding: 8px;
  height: 220px;
  width: 220px;
}

/******** layout elements - projects page *********/
.projecttile {
  width: 320px;
  padding: 0px;
}

.projectline {
  padding: 0px;
}

/******** spinentry animation class - to be replaced by ngAnimate + transitions? *********/
.spinentry{
  -webkit-animation: spinentry 0.4s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: spinentry 0.4s forwards; /* Firefox < 16 */
  -ms-animation: spinentry 0.4s forwards; /* Internet Explorer */
  -o-animation: spinentry 0.4s forwards; /* Opera < 12.1 */
  animation: spinentry 0.4s forwards;
  transform: rotateY(90deg); /* setting initial value to animation startpoint - FF bugfix */
}

@keyframes spinentry {
    from { transform: rotateY(90deg); }
    to   { transform: rotateY(0deg);}
}

/* Firefox < 16 */
@-moz-keyframes spinentry {
    from { transform: rotateY(90deg);}
    to   { transform: rotateY(0deg);}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes spinentry {
    from { transform: rotateY(90deg);}
    to   { transform: rotateY(0deg);}
}

/* Internet Explorer */
@-ms-keyframes spinentry {
    from { transform: rotateY(90deg);}
    to   { transform: rotateY(0deg);}
}

/* Opera < 12.1 */
@-o-keyframes spinentry {
    from { transform: rotateY(90deg);}
    to   { transform: rotateY(0deg);}
}


/******** layout elements - knowmore page *********/
 md-grid-list {
  margin: 8px; }
 .gray {
  background: #f5f5f5; }
 .green {
  background: #b9f6ca; }
 .yellow {
  background: #ffff8d; }
 .blue {
  background: #84ffff; }
 .purple {
  background: #b388ff; }
 .red {
  background: #ff8a80; }
 md-grid-tile {
  transition: all 200ms ease-out; 
}

/******** Containers *********/
.contentcontainer {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin: 0 auto;  
}

.actioncontainer {
  margin-bottom: 10px;
}

@media (max-width: 1132px) {
    .contentcontainer {
        max-width: 880px;
    }
}
@media (min-width: 912px) {
    .sidenav {
        display: none;
    }
}
@media (max-width: 912px) {
    .contentcontainer {
        max-width: 700px;
    }
    .navbar {
        display: none;
    }
}
@media (max-width: 692px) {
    .contentcontainer {
        max-width: 440px;
    }
    .projecttile {
        width: calc(100% - 16px);
    }
    .desctext {
      display: none;
    }
}