<ifModule mod_rewrite.c>
   RewriteEngine On

  # allow social media crawlers to work by redirecting them to a server-rendered static version on the page
  RewriteCond %{HTTP_USER_AGENT} (^facebookexternalhit) [OR]
  RewriteCond %{HTTP_USER_AGENT} (Twitterbot|Pinterest|Google.*snippet|Google)
  RewriteRule ^(.*)/dha/(.*)/(.*)$ http://www.digital-humanities.at/snap.php?lang=$1&id=$3 [P]

  RewriteRule ^dha2016$ http://www.digital-humanities.at/en/dha/s-news/3rd-dha-conference-dha2016 [NE,R=301,L]

  # Required to allow direct-linking of pages so they can be processed by Angular
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !index
  RewriteRule (.*) index.html [L]
</ifModule>
