<div class="contentcontainer">
	<!-- ****** page caption template ******* -->
	<div class="caption" style="margin-top: 20px;" ng-repeat="me in Model.navbar | currentCaption:state" >
		<div layout="row" layout-align="start start">
		  <md-icon md-colors="{color: 'primary-800'}" class="captionicons" aria-label='{{me["schema:primaryImageOfPage"]}}' >{{me["schema:primaryImageOfPage"]}}</md-icon>
		  <h1 >{{me['schema:headline']}}</h1>
		</div>
    	<div layout="row" layout-wrap layout-align="space-between stretch">
			<div flex-gt-sm="50" flex="100" class="bgbox" >
				<div class="innerbgbox " layout="row" layout-wrap layout-align="space-around stretch">
					<p class="md-body-2" ng-bind-html="me['schema:text'] | unsafe"></p>
				</div>
			</div>
			<!-- Type Filter Box Prelim -->	
			<div flex-gt-sm="50" flex="100" class="bgbox" >
				<div class="innerbgbox greybox" layout="row" layout-wrap layout-align="center start">
					<h4 flex="100" style="padding-left: 15px;">
					<md-icon md-colors="{color: 'primary-800'}" style="margin: auto 3px auto 0;" aria-label=""></md-icon>
					Partners 2016
					</h4>
					<div style="width: 100%; height: 200px; background: url({{me['schema:image']['src']}}) no-repeat scroll 50% 50% / contain;"></div>
				</div>
			</div> 
		</div>  		
	</div>
	<!-- ****** List view template ******* -->
	<div ng-show="uiview.current=='list'">
		<md-table-container>
		  <table md-table ng-model="selected" md-progress="curList" style="padding: 5px;">
		    <thead md-head md-on-reorder="getNewOrder" md-order="currentSorting">
		      <tr md-row>
		        <th md-column><span></span></th>
		        <th md-column md-order-by="legalName"><span>Name</span></th>
		        <th md-column md-order-by="parent"><span>Part of</span></th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row 
		          md-select="ev" 
		          md-select-id="{{pro['schema:name'].replace('dha:','')}}" 
		          ng-repeat="pa in Institutions | byProperty:'schema:keywords.0.tid':'207' | orderBy:sortfield:reverse"
		          ui-sref="dha.s-partners({nID: '{{pa['schema:url']['alias']}}'})"
		          class="vspinentry raise" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/30+'s','overflow':'hidden'}" >
		    <td md-cell>
		      <img class="tableicon md-whiteframe-1dp" ng-src="{{pa['schema:logo']['styles']['thumb'] || 'img/lowres_logo_1.png'}}" />
		    </td>
		        <td md-cell>{{pa['legalName']}}</td>
		        <td md-cell>
		        	<span ng-repeat="inst in Institutions | termByID:pa['schema:parentOrganization']" layout="row" layout-align="start center">
					    <img class="tableicon" ng-src="{{inst['schema:logo']['styles']['thumb'] || 'img/lowres_logo_1.png'}}"/>
					    <span hide show-gt-md style="padding-left: 5px;">{{inst['schema:legalName']}}</span>
					</span>
		        </td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
	</div>		 
</div>