<div  class="startcontainer" >
	<div class="innerstartcontainer" layout="column" layout-align="start center">
		<div style="max-width: 1000px;" layout="row" layout-wrap layout-align="center center" ng-cloak>
			<div flex-gt-xs="30" flex="100" style="padding: 20px;">
				<img src="img/highres_logo.png" style="width: 100%;"/>
			</div>
			<div flex-gt-xs="70" flex="100" style="padding: 20px;">
				<p flex class="md-body-2" ng-bind-html='Model.starttext["schema:text"] | unsafe'></p>
			</div>
		</div>
		<div layout="row" layout-padding layout-wrap layout-align="center start" ng-cloak>
		    <md-card md-colors="{color: 'primary-800'}" class="spinentry md-whiteframe-1dp splashtile raise" layout="column" layout-align="start center" ng-repeat="me in Model.start" ui-sref="dha.{{me.ctrl}}({ lang: '{{Model.language}}' })" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/10 + 's'}">
			  	<md-icon md-colors="{color: 'primary-800'}" style="font-size: 50px; width: 50px; height: 50px; margin-top: 25px;" aria-label="{{me["schema:primaryImageOfPage"]}}">{{me["schema:primaryImageOfPage"]}}</md-icon>

				<md-card-content>
					<h2 layout="column" layout-align="center center" class="splashhead"> {{me['schema:headline']}}</h2>
					<md-divider></md-divider>
					<p class="splashtext md-caption" >
					{{me['schema:description']}}
					</p>
				</md-card-content>
		    </md-card>
		</div>
	</div>
</div>
<div class="languagemenu">
	<md-fab-speed-dial ng-cloak md-open="languagemenu.menuOpen" md-direction="up" class="md-scale" ng-mouseenter="languagemenu.menuOpen=true" ng-mouseleave="languagemenu.menuOpen=false">
		<md-fab-trigger >
			<md-button aria-label="menu" class="md-fab md-primary">
				<md-icon aria-label="{{Icon.arialabel}}">language</md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>
				<md-button ng-click="toggleLang('en');" class="md-fab md-raised md-mini" aria-label="English" title="EN" >EN
				</md-button>
				<md-button ng-click="toggleLang('de');" class="md-fab md-raised md-mini" aria-label="Deutsch" title="DE" >DE
				</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>
