<div class="contentcontainer">	
	<div class="caption" style="margin-top: 20px;" ng-repeat="me in Model.navbar | currentCaption:state" >
		<div layout="row" layout-align="start start">
		  <md-icon style="color: #EF6C00; font-size: 50px;width: 50px; height: 50px;margin: 5px" aria-label="{{me["schema:primaryImageOfPage"]}}" >{{me["schema:primaryImageOfPage"]}}</md-icon>
		  <h4>{{me['schema:headline']}}</h4>
		</div>
		<p class="md-body-2" ng-bind-html="me['schema:description'] | unsafe"></p>
	</div>
</div>