<div class="contentcontainer">
  	<div class="caption" style="margin-top: 20px;" ng-repeat="me in Model.navbar | currentCaption:state" >
    	<div layout="row" layout-align="start start">
    		<md-icon md-colors="{color: 'primary-800'}" class="captionicons" aria-label='{{me["schema:primaryImageOfPage"]}}' >{{me["schema:primaryImageOfPage"]}}</md-icon>
    		<h1>{{me['schema:headline']}}</h1>
    	</div>
    	<p class="md-body-2" ng-bind-html="me['schema:description'] | unsafe"></p>
  	</div>
	<div ng-show="uiview.current=='list'">
	    <md-table-container>
	      <table md-table ng-model="selected" md-progress="curList">
	        <thead md-head md-on-reorder="getNewOrder">
	          <tr md-row>
	            <th md-column><span></span></th>
	            <th md-column md-order-by="headline"><span>Type</span></th>
	            <th md-column md-order-by="type"><span>Title</span></th>
	            <th md-column ><span>Description</span></th>
	            <th md-column md-order-by="source"><span>Details</span></th>
	          </tr>
	        </thead>
	        <tbody md-body>
	          <tr md-row 
	              md-select="ev" 
	              md-select-id="{{pro['schema:name'].replace('dha:','')}}" 
	              ng-repeat="pro in Model.knowmore | orderBy:sortfield:reverse"
	              ui-sref="dha.s-knowmore({nID: '{{pro['schema:url']['alias']}}'})"
	              class="vspinentry raise" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/30+'s','overflow':'hidden'}" >
	        	<td md-cell>
	        		<img class="tableicon md-whiteframe-1dp" ng-src="img/biblio_screenshots/mini/{{pro['schema:name'].split(':')[1]}}.jpg" />
	        	</td>
	        	<td md-cell>
	        		<md-icon md-colors="{color: 'primary-800'}" style="margin: auto 3px auto 0;" aria-label="">{{pro['schema:additionalType'] | bibIcon}}
			         <md-tooltip>
			            {{pro['schema:additionalType'].split('_')[1]}}
			          </md-tooltip>
	        		</md-icon>

	        	</td>	        	
	            <td md-cell><h3 md-colors="{color: 'primary-800'}">{{pro['schema:headline']}}</h3></td>
	            <td md-cell>{{pro['schema:description']}}</td>
	            <td md-cell>{{}}</td>
	          </tr>
	        </tbody>
	      </table>
	    </md-table-container>
	</div>

	<div ng-show="uiview.current=='grid'">
		<md-grid-list
		    md-cols="2" md-cols-sm="3" md-cols-md="5" md-cols-gt-md="8"
		    md-row-height-gt-md="1:1" md-row-height="1:1"
		    md-gutter="8px" md-gutter-gt-sm="4px" layout="row" layout-align="center start" ng-animate="'spinentry'">
			<md-grid-tile ng-repeat="know in Model.knowmore"
			              md-rowspan="1"
			              md-colspan="1"
			              md-colspan-sm="1"
			              md-colspan-xs="1"
			              class="spinentry raise" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/50 + 's'}"
			              ui-sref="dha.s-knowmore({nID: '{{know['schema:url']['alias']}}'})">
			  	<md-icon md-colors="{color: 'primary-800'}" style="margin: auto 3px auto 0;" aria-label="">{{know['schema:additionalType'] | bibIcon}}</md-icon>
			  	<img class="" ng-src="img/biblio_screenshots/mini/{{know['schema:name'].split(':')[1]}}.jpg" />
			  	<md-grid-tile-footer layout="column" layout-align="center center">
			  		<h5 md-colors="{color: 'primary-800'}" style="width:100%;text-align: center; margin: 0;">{{know['schema:headline']}}</h5>
			  	</md-grid-tile-footer>
			</md-grid-tile>
		</md-grid-list>
	</div>
</div>