  <div class="container">
	<div ng-include="" src="'/acdh/js/views/navbar.html'"></div>
  </div>
<div class="container">
	<h4>Know More<i style="font-size:0.75em;cursor: pointer; cursor: hand;" ng-click="onList()" class="fa fa-list pull-right text-warning" aria-hidden="true"></i><i style="font-size:0.75em;cursor: pointer; cursor: hand;" ng-click="onGrid()" class="fa fa-th pull-right text-warning" aria-hidden="true"></i></h4>
  <div class="row-fluid" ng-show="uiview.list">
	<div ng-repeat="know in Model.knowmore" class="badgerclass badger-left badger-default" data-badger="{{$index+1}}">
	  <a ui-sref="s-knowmore({nID:{{know['schema:name'].replace('dha:','')}}})">
	  <div class="container-fluid">
		<div class="col-sm-6 col-xs-6 col-md-7 col-lg-7">
		<h4 class="text-warning">{{know['schema:headline']}}
		</h4>
		</div>
 		<div class="col-sm-2 col-xs-2 col-md-1 col-lg-1">
		  <a target="_blank" class="btn btn-warning" title="{{know['title_field'] || '\:\)'}}" ng-href="{{know['schema:sameAs'] || '\:\)'}}"><i class="fa fa-external-link fa-lg"></i></a>
 		</div>
 		<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
		  <i class="fa fa-tag fa-lg text-warning"></i> {{know['schema:keywords'].join(', ') || 'no tags'}}
 		</div> 
	  </div><!-- container-fluid -->
	  </a>
	</div>	
  </div>
  <div class="row-fluid" ng-show="uiview.grid">
    <div class="col-xs-8 col-sm-3 col-md-3 col-lg-2" ng-repeat="know in Model.knowmore">
		  <div class="offer offer-radius offer-warning" style="min-height:205px;">
			  <a target="_blank" class="btn btn-warning pull-right" title="{{know['title_field'] || '\:\)'}}" ng-href="{{know['schema:sameAs'] || '\:\)'}}"><i class="fa fa-external-link"></i></a>
			<a ui-sref="s-knowmore({nID:{{know['schema:name'].replace('dha:','')}}})">
<!-- 			  <img width="100" class="img-rounded img-responsive" ng-src="{{pro['schema:image']['src'] || 'https://dhdev.eos.arz.oeaw.ac.at/sites/default/files/styles/thumbnail/public/dha_logo.png'}}" />  -->
			  <div class="text-warning" style="font-size:1.05em; font-weight:bold; text-align: center; font-weight:normal; float:right; position:absolute; bottom:0; right:0; clear:right; padding-bottom:25px;">
				  <div class="offer-content">
					{{know['schema:headline']}}  
<!-- 				  <div style="font-size:0.75em;"><i class="fa fa-tag fa-lg text-warning"></i> {{pro['schema:keywords'].join(', ') || 'no tags'}}</div> -->
				  </div>
			  </div>
			</a>
		  </div>
    </div>  
  </div>
</div>