<div class="contentcontainer">
  	<div class="caption" style="margin-top: 20px;" ng-repeat="me in Model.navbar | currentCaption:state" >
    	<div layout="row" layout-align="start start">
    		<md-icon style="color: #EF6C00; font-size: 50px;width: 50px; height: 50px;margin: 5px" aria-label="{{me["schema:primaryImageOfPage"]}}" >{{me["schema:primaryImageOfPage"]}}</md-icon>
    		<h4>{{me['schema:headline']}}</h4>
    	</div>
    	<p class="md-body-2" ng-bind-html="me['schema:description'] | unsafe"></p>
  	</div>
	<div ng-show="uiview.list">
		<md-whiteframe class="md-whiteframe-11dp" layout layout-align="center center">
		  <md-list flex>
		    <md-list-item class="spinentry projectline md-3-line md-long-text" style="margin-top: 0px;" ng-repeat="know in Model.knowmore" ui-sref="s-knowmore({nID:{{know['schema:name'].replace('dha:','')}}})" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/50 + 's'}">
		        <img ng-src="{{pro['schema:image']['src'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}" class="md-avatar"/>
		        <div class="md-list-item-text" >
		              <h3 style="color: #EF6C00">{{know['schema:headline']}}</h3>
		              <p class="desctext">{{know['schema:description']}}</p>
		        </div>
		        <md-button class="md-icon-button md-raised md-secondary desctext" aria-label="Share" ui-sref="s-project({nID:{{know['schema:name'].replace('dha:','')}}})">
		          <md-icon style="color: #EF6C00" aria-label="library_books">library_books</md-icon>
		        </md-button>
		        <md-button class="md-icon-button md-raised md-secondary desctext" aria-label="Favorite" href="{{know['schema:sameAs'][0]['url'] || '\:\)'}}" target="_blank">
		          <md-icon style="color: #EF6C00" aria-label="open_in_new">open_in_new</md-icon>
		        </md-button>
		        <md-button class="md-icon-button md-raised md-secondary desctext" aria-label="Share" ui-sref="s-project({nID:{{know['schema:name'].replace('dha:','')}}})">
		          <md-icon style="color: #EF6C00" aria-label="share-arrow">share_arrow</md-icon>
		        </md-button>
		        <md-divider ></md-divider>
		    </md-list-item>
		  </md-list>
		</md-whiteframe>  
	</div>

	<div ng-show="uiview.grid">
		<md-grid-list
		    md-cols="2" md-cols-sm="3" md-cols-md="5" md-cols-gt-md="8"
		    md-row-height-gt-md="1:1" md-row-height="1:1"
		    md-gutter="8px" md-gutter-gt-sm="4px" layout="row" layout-align="center start" ng-animate="'spinentry'">
			<md-grid-tile ng-repeat="know in Model.knowmore"
			              md-rowspan="1"
			              md-colspan="1"
			              md-colspan-sm="1"
			              md-colspan-xs="1"
			              class="spinentry" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/50 + 's'}">
			  	<md-icon style="color: #EF6C00; margin: auto 3px auto 0;" aria-label="">view_headline</md-icon>
			  	<md-grid-tile-footer layout="column" layout-align="center center">
			  		<h5 style="color: #EF6C00;width:100%;text-align: center; margin: 0;">{{know['schema:headline']}}</h5>
			  	</md-grid-tile-footer>
			</md-grid-tile>
		</md-grid-list>
	</div>
</div>