<div flex layout="column" layout-md="column" layout-xs="column" layout-sm="column">
    <md-toolbar style="background-color:inherit;margin-top:15px;margin-bottom:15px;" ng-cloak>
      <div class="md-toolbar-tools">
         <img style="height:79px;" src="http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png" />
        <span flex="auto"></span>
		<md-button md-colors="{color: 'primary-500'}" ui-sref="dha.{{me['schema:headline'] | lowercase}}" class="md-button md-raised md-ink-ripple" aria-label="$state.current.name" ng-repeat="me in Model.navbar | orderBy:'api_order'">
		  <md-icon  md-colors="{color: 'primary-800'}" aria-label="{{me["schema:primaryImageOfPage"]}}">{{me["schema:primaryImageOfPage"]}}</md-icon> {{me['headline']}}
		</md-button>
		  <md-button class="md-icon-button md-button md-raised" ng-click="onList()" type="button" aria-label="List View" title="List View">
			<i md-colors="{color: 'primary-400'}" class="material-icons">&#xE896;</i><div class="md-ripple-container"></div>
		  </md-button>
		  <md-button class="md-icon-button md-button md-raised" ng-click="onGrid()" type="button" aria-label="Grid View" title="Grid View">
			<i md-colors="{color: 'primary-400'}" class="material-icons">&#xE8F0;</i><div class="md-ripple-container"></div>
		  </md-button>
		  <md-button class="md-icon-button md-button md-raised" ng-click="toggleLang('en');" type="button" aria-label="English" title="EN" md-colors="{color: 'primary-600'}">
			EN<div class="md-ripple-container"></div>
		  </md-button>
		  <md-button class="md-icon-button md-button md-raised" ng-click="toggleLang('de');" type="button" aria-label="Deutsch" title="DE" md-colors="{color: 'primary-600'}">
			DE<div class="md-ripple-container"></div>
		  </md-button>
      </div>
    </md-toolbar>
</div>
	<div flex layout="row">
	  <div flex="10"></div>
	  <div flex="80">
		<div ui-view></div>
	  </div>
	  <div flex="10"></div>
	 </div>