<div class="navmenu">
	<div class="topnav" layout="row" layout-align="space-between end">
		<a ui-sref="start"><img style="height: 50px;" src="http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png"></a>
		<md-nav-bar md-selected-nav-item="$state.current.name.split('.')[1]" nav-bar-aria-label="navigation links" style="border-style: none;">
			<md-nav-item md-nav-sref="dha.{{me.ctrl}}" name="dha.{{me.ctrl}}" ng-repeat="me in Model.navbar" >
			<h3 class="menucaption"><md-icon md-colors="{color: 'primary-800'}" aria-label="{{me["schema:primaryImageOfPage"]}}">{{me["schema:primaryImageOfPage"]}}</md-icon>
			{{me['schema:headline']}}</h3>
			</md-nav-item>
		</md-nav-bar>
	</div>
    <md-menu md-position-mode="target-right target" class="sidenav">
      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon style="color: #EF6C00" aria-label="menu">menu</md-icon>
      </md-button>
      <md-menu-content width="4" >
        <md-menu-item ng-repeat="me in Model.navbar">
          <md-button ui-sref="dha.{{me.ctrl}}({ lang: '{{Model.language}}' })">
              <div layout="row" flex>
                <md-icon md-colors="{color: 'primary-800'}"  aria-label="{{me["schema:primaryImageOfPage"]}}">{{me["schema:primaryImageOfPage"]}}</md-icon>
                <p flex>{{me['schema:headline']}}</p>
              </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
</div>
<div class="languagemenu">
	<md-fab-speed-dial ng-cloak md-open="languagemenu.menuOpen" md-direction="up" class="md-scale" ng-mouseenter="languagemenu.menuOpen=true" ng-mouseleave="languagemenu.menuOpen=false">
		<md-fab-trigger >
			<md-button aria-label="menu" class="md-fab md-primary">
				<md-icon aria-label="{{Icon.arialabel}}">language</md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>
				<md-button ng-click="toggleLang('en');" class="md-fab md-raised md-mini" aria-label="English" title="EN" >EN
				</md-button>
				<md-button ng-click="toggleLang('de');" class="md-fab md-raised md-mini" aria-label="Deutsch" title="DE" >DE
				</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>
<div class="viewmenu">
	<md-fab-speed-dial ng-cloak md-open="uiview.menuOpen" md-direction="up" class="md-scale" ng-mouseenter="uiview.menuOpen=true" ng-mouseleave="uiview.menuOpen=false">
		<md-fab-trigger >
			<md-button aria-label="menu" class="md-fab md-primary">
				<md-icon aria-label="{{Icon.arialabel}}">pageview</md-icon>
			</md-button>
		</md-fab-trigger>

		<md-fab-actions>
			<md-button ng-repeat="view in aviews" aria-label="{{view.key}}" class="md-fab md-raised md-mini" ng-click="swapView(view.key)">
				<md-icon aria-label="{{view.key}}">{{view.icon}}</md-icon>
			</md-button>
	</md-fab-speed-dial>
</div>