<div class="contentcontainer" layout="column">
	<!-- ****** page caption template ******* -->
	<div class="caption" style="margin-top: 20px;" ng-repeat="me in Model.navbar | currentCaption:state" >
		<div layout="row" layout-align="start start">
			<md-icon md-colors="{color: 'primary-800'}" class="captionicons" aria-label='{{me["schema:primaryImageOfPage"]}}' >{{me["schema:primaryImageOfPage"]}}</md-icon>
			<h1>{{me['schema:headline']}}</h1>
		</div>
		<p class="md-body-2" ng-bind-html="me['schema:description'] | unsafe"></p>
	</div>
	<!-- ****** combo view template ******* -->
	<div ng-if="uiview.current=='combined'" >
		<!-- ****** future events as tiles ******* -->
		<div layout="row">
			<md-card class="spinentry md-whiteframe-1dp spinexit projecttile raise" ng-repeat="ev in Model.newsevents | futureEvents" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/50 + 's'}">
		        <md-card-header>
		          <md-card-avatar  ng-repeat="inst in Institutions | termByID:ev['schema:organizer'][0].tid" ui-sref="dha.s-partners({nID:'{{ev['schema:organizer'][0].tid}}', lang:'{{curlang}}'})" style="cursor: pointer;">
		            <img class="tableicon md-whiteframe-1dp" ng-src="{{inst['schema:image']['styles']['thumb'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}"/>
		          </md-card-avatar>
		          <md-card-header-text>
		            <span class="md-title">{{ev['displayDate'] | date:'dd. MMMM yyyy'}}</span>
		            <span class="md-subhead">{{ev['schema:location']}}</span>
		          </md-card-header-text>		          
		        </md-card-header>
		        <div class="md-card-image" style="height: 100px!important; width: 100%; background: url({{ev['schema:image']['styles']['tile'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}) no-repeat scroll 50% 50% / cover; " layout="column" layout-align="end">
		        	<div class="tiletoolbar" layout="row" layout-align="end">
						<md-button class="md-icon-button" aria-label="Details" ui-sref="dha.s-news({nID:{{ev['schema:name'].split(':')[1]}}})">
							<md-icon md-colors="{color: 'primary-800'}" >library_books</md-icon>
						    <md-tooltip md-direction="bottom">
					          Details
					        </md-tooltip>
						</md-button>
						<md-button class="md-icon-button" aria-label="Share">
							<md-icon md-colors="{color: 'primary-800'}" >share_arrow</md-icon>
						    <md-tooltip md-direction="bottom">
					          Share
					        </md-tooltip>							
						</md-button>
						<md-button class="md-icon-button" aria-label="get data as XML" ng-href="https://dhcuratedev.eos.arz.oeaw.ac.at/{{language}}/api_0_1/nodes.xml?parameters[nid]={{ev['schema:name'].split(':')[1]}}">
							<md-icon md-colors="{color: 'primary-800'}" >code</md-icon>
						    <md-tooltip md-direction="bottom">
					          XML
					        </md-tooltip>							
						</md-button>
						<md-button class="md-icon-button" aria-label="get data as JSON" ng-href="https://dhcuratedev.eos.arz.oeaw.ac.at/{{language}}/api_0_1/nodes.json?parameters[nid]={{ev['schema:name'].split(':')[1]}}">
							<md-icon md-colors="{color: 'primary-800'}" >settings_ethernet</md-icon>
						    <md-tooltip md-direction="bottom">
					          JSON
					        </md-tooltip>							
						</md-button>												
		        	</div>
		        </div>
			    <md-card-title ui-sref="dha.s-news({nID:{{ev['schema:name'].split(':')[1]}}})">
			        <md-card-title-text>
			          <span class="md-headline" ><h3 md-colors="{color: 'primary-800'}">{{ev['schema:headline']}}</h3></span>
			          <span class="md-subhead">{{ev['schema:description']}}</span>
			        </md-card-title-text>
			    </md-card-title>     
			</md-card>  
	    </div>
	    <!-- ****** past events as list ******* -->
		<div class="caption" style="margin-top: 20px;">
			<div layout="row" layout-align="start start">
				<h4>Past Events</h4>
			</div>
		</div>
		<md-table-container>
		  <table md-table ng-model="selected" md-progress="curList">
		    <thead md-head md-on-reorder="getNewOrder">
		      <tr md-row>
		      	<th md-column><span></span></th>
		        <th md-column md-order-by="headline"><span>Title</span></th>
		        <th md-column md-order-by="displayDate"><span>Date</span></th>
		        <th md-column ><span>Description</span></th>
		        <th md-column ><span>Organizer</span></th>
		        <th md-column ><span>Location</span></th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row 
		      		md-select="ev" 
		      		md-select-id="{{ev['schema:name'].replace('dha:','')}}" 
		      		ng-repeat="ev in Model.newsevents | pastEvents | orderBy:sortfield:reverse"
		      		ui-sref="dha.s-news({nID:{{ev['schema:name'].replace('dha:','')}}})"
		      		class="vspinentry raise" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/30+'s','overflow':'hidden'}" >
				<td md-cell>
					<img class="tableicon md-whiteframe-1dp" ng-src="{{ev['schema:image']['styles']['thumb'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}" />
				</td>
		        <td md-cell><h3 md-colors="{color: 'primary-800'}">{{ev['schema:headline']}}</h3></td>
		        <td md-cell>{{ev['displayDate'] | date:'dd. MMMM yyyy'}}</td>
		        <td md-cell>{{ev['schema:description']}}</td>
		        <td md-cell  ng-repeat="inst in Institutions | termByID:ev['schema:organizer'][0].tid" ui-sref="dha.s-partners({nID:'{{ev['schema:organizer'][0].tid}}', lang:'{{curlang}}'})"><img class="tableicon md-whiteframe-1dp" ng-src="{{inst[0]['schema:image']['styles']['thumb'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}"/> </td>
		        <td md-cell>{{ev['schema:location']}}</td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
	</div>
	<!-- ****** tile view template ******* -->
	<div layout="row" layout-xs="column" layout-padding layout-wrap layout-align="space-between stretch" ng-cloak ng-if="uiview.current=='tiles'">
			<md-card class="spinentry md-whiteframe-3dp spinexit projecttile raise" ng-repeat="ev in Model.newsevents" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/50 + 's'}">
		        <md-card-header>
		          <md-card-avatar  ng-repeat="inst in Institutions | termByID:ev['schema:organizer'][0].tid" ui-sref="dha.s-partners({nID:'{{ev['schema:organizer'][0].tid}}', lang:'{{curlang}}'})" style="cursor: pointer;">
		            <img class="tableicon md-whiteframe-1dp" ng-src="{{inst['schema:image']['styles']['thumb']}}"/>
		          </md-card-avatar>
		          <md-card-header-text>
		            <span class="md-title">{{ev['displayDate'] | date:'dd. MMMM yyyy'}}</span>
		            <span class="md-subhead">{{ev['schema:location']}}</span>
		          </md-card-header-text>		          
		        </md-card-header>
		        <div class="md-card-image" style="height: 100px!important; width: 100%; height: initial; background: url({{ev['schema:image']['styles']['tile'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}) no-repeat scroll 50% 50% / cover;" layout="column" layout-align="end" >
		        	<div class="tiletoolbar" layout="row" layout-align="end">
						<md-button class="md-icon-button" aria-label="Details" ui-sref="dha.s-news({nID:{{ev['schema:name'].split(':')[1]}}})">
							<md-icon md-colors="{color: 'primary-800'}" >library_books</md-icon>
						    <md-tooltip md-direction="bottom">
					          Details
					        </md-tooltip>
						</md-button>
						<md-button class="md-icon-button" aria-label="Share">
							<md-icon md-colors="{color: 'primary-800'}" >share_arrow</md-icon>
						    <md-tooltip md-direction="bottom">
					          Share
					        </md-tooltip>							
						</md-button>
						<md-button class="md-icon-button" aria-label="get data as XML" ng-href="http://dhcurate.digital-humanities.at/{{language}}/api_0_1/nodes.xml?parameters[nid]={{ev['schema:name'].split(':')[1]}}">
							<md-icon md-colors="{color: 'primary-800'}" >code</md-icon>
						    <md-tooltip md-direction="bottom">
					          XML
					        </md-tooltip>							
						</md-button>
						<md-button class="md-icon-button" aria-label="get data as JSON" ng-href="http://dhcurate.digital-humanities.at/{{language}}/api_0_1/nodes.json?parameters[nid]={{ev['schema:name'].split(':')[1]}}">
							<md-icon md-colors="{color: 'primary-800'}" >settings_ethernet</md-icon>
						    <md-tooltip md-direction="bottom">
					          JSON
					        </md-tooltip>							
						</md-button>												
		        	</div>
		        </div>		        
			    <md-card-title ui-sref="dha.s-news({nID:{{ev['schema:name'].split(':')[1]}}})">
			        <md-card-title-text>
			          <span class="md-headline" ><h3 md-colors="{color: 'primary-800'}">{{ev['schema:headline']}}</h3></span>
			          <span class="md-subhead">{{ev['schema:description']}}</span>
			        </md-card-title-text>
			    </md-card-title>     
			</md-card>  
	</div>
	<!-- ****** List view template ******* -->
	<div layout="row" layout-xs="column" layout-padding layout-wrap layout-align="space-between stretch" ng-cloak ng-if="uiview.current=='list'">
		<md-table-container>
		  <table md-table ng-model="selected" md-progress="curList">
		    <thead md-head md-on-reorder="getNewOrder">
		      <tr md-row>
		      	<th md-column><span></span></th>
		        <th md-column md-order-by="headline"><span>Title</span></th>
		        <th md-column md-order-by="displayDate"><span>Date</span></th>
		        <th md-column ><span>Description</span></th>
		        <th md-column ><span>Organizer</span></th>
		        <th md-column ><span>Location</span></th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row 
		      		md-select="ev" 
		      		md-select-id="{{ev['schema:name'].replace('dha:','')}}" 
		      		ng-repeat="ev in Model.newsevents"
		      		ui-sref="dha.s-news({nID:{{ev['schema:name'].replace('dha:','')}}})"
		      		class="vspinentry raise" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/30+'s','overflow':'hidden'}" >
				<td md-cell>
					<img class="tableicon md-whiteframe-3dp" ng-src="{{ev['schema:image']['styles']['thumb'] || 'https://dhdev.eos.arz.oeaw.ac.at/sites/default/files/styles/thumbnail/public/dha_logo.png'}}" />
				</td>
		        <td md-cell><h3 md-colors="{color: 'primary-800'}">{{ev['schema:headline']}}</h3></td>
		        <td md-cell>{{ev['displayDate'] | date:'short'}}</td>
		        <td md-cell>{{ev['schema:description']}}</td>
		        <td md-cell  ng-repeat="inst in Institutions | termByID:ev['schema:organizer'][0].tid" ui-sref="dha.s-partners({nID:'{{ev['schema:organizer'][0].tid}}', lang:'{{curlang}}'})"><img class="tableicon md-whiteframe-1dp" ng-src="{{inst['schema:image']['styles']['thumb']}}"/> </td>
		        <td md-cell>{{ev['schema:location']}}</td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
	</div>
</div>