		  <md-content ng-if="uiview.list">
			<md-card layout="row" ui-sref="dha.s-news({nID:'{{ev['schema:name']}}',lang:'{{curlang}}'})" class="md-3-line md-ink-ripple md-raised" ng-repeat="ev in Model.newsevents" flex>
					<div flex="10"><img height="auto" width="auto" ng-src="{{ev['schema:thumbnailUrl']['src'] || 'https://dhdev.eos.arz.oeaw.ac.at/sites/default/files/styles/thumbnail/public/dha_logo.png'}}" /></div>
					<div flex="5"></div>
					<div flex="70" layout-align="start center">
					  <h3 md-colors="{color: 'primary-700'}">{{ev['schema:headline']}} </h3>
					  <p>{{ev['schema:description']}}</p>
					</div>
					<div flex="15" layout-align="center center"><i md-colors="{color: 'primary-800'}" class="material-icons">&#xE892;</i> <span style="text-transform:capitalize;font-size:11px;font-style:italic;">{{ev['schema:tags'].join(', ') || 'No Tags'}}</div>
			</md-card>
		</md-content>
		<md-content ng-if="uiview.grid">
				<div class='md-padding' layout="row" layout-wrap>
				  <md-card ui-sref="dha.s-news({nID:'{{ev['schema:name']}}',lang:'{{curlang}}'})" style="width:275px;" ng-repeat="ev in Model.newsevents">
					<md-card-content>
					<img height="55px" ng-src="{{ev['schema:thumbnailUrl']['src'] || 'https://dhdev.eos.arz.oeaw.ac.at/sites/default/files/styles/thumbnail/public/dha_logo.png'}}" alt="{{ev['schema:headline']}}" />
					  <h4 md-colors="{color: 'primary-500'}">{{ev['schema:headline']}}</h4>
					  <p>{{ev['schema:description']}}</p>
					</md-card-content>
					<md-card-footer layout='row' layout-align="end center">
					  <i md-colors="{color: 'primary-800'}" class="material-icons">&#xE892;</i> <span style="text-transform:capitalize;font-size:11px;font-style:italic;">{{ev['schema:tags'].join(', ') || 'No Tags'}}
					</md-card-footer>
				  </md-card>
				</div>
		</md-content>