<div class="contentcontainer">
	<!-- ****** page caption template ******* -->
	<div class="caption" style="margin-top: 20px;" ng-repeat="me in Model.navbar | currentCaption:state" >
		<div layout="row" layout-align="start start">
		  <md-icon md-colors="{color: 'primary-800'}" class="captionicons" aria-label='{{me["schema:primaryImageOfPage"]}}' >{{me["schema:primaryImageOfPage"]}}</md-icon>
		  <h1 >{{me['schema:headline']}}</h1>
		</div>
		<p class="md-body-2" ng-bind-html="me['schema:text'] | unsafe"></p>
	</div>
	<!-- ****** List view template ******* -->
	<div ng-show="uiview.current=='list'">
		<md-table-container>
		  <table md-table ng-model="selected" md-progress="curList" style="padding: 5px;">
		    <thead md-head md-on-reorder="getNewOrder" md-order="currentSorting">
		      <tr md-row>
		        <th md-column><span></span></th>
		        <th md-column md-order-by="legalName"><span>Name</span></th>
		        <th md-column md-order-by="parent"><span>Part of</span></th>
		        <th md-column ><span>Website</span></th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row 
		          md-select="ev" 
		          md-select-id="{{pro['schema:name'].replace('dha:','')}}" 
		          ng-repeat="pa in Institutions | byProperty:'schema:keywords.0.tid':'207' | orderBy:sortfield:reverse"
		          ui-sref="dha.s-partners({nID: '{{pa['schema:url']['alias']}}'})"
		          class="vspinentry raise" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/30+'s','overflow':'hidden'}" >
		    <td md-cell>
		      <img class="tableicon md-whiteframe-1dp" ng-src="{{pa['schema:logo']['styles']['thumb'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}" />
		    </td>
		        <td md-cell>{{pa['legalName']}}</td>
		        <td md-cell ng-repeat="inst in Institutions | termByID:pa['schema:parentOrganization']">
					    <img class="tableicon" ng-src="{{inst['schema:logo']['styles']['thumb'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}"/>
					    <span hide show-gt-md class="md-caption" style="padding-left: 5px;">{{inst['schema:legalName']}}</span>
		        </td>
		        <td md-cell></td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
	</div>		 
</div>