<div class="contentcontainer" layout="column">
  <div class="caption" style="margin-top: 20px;" ng-repeat="me in Model.navbar | currentCaption:state" >
    <div layout="row" layout-align="start start">
      <md-icon style="color: #EF6C00; font-size: 50px;width: 50px; height: 50px;margin: 5px" aria-label="{{me["schema:primaryImageOfPage"]}}" >{{me["schema:primaryImageOfPage"]}}</md-icon>
      <h4>{{me['schema:headline']}}</h4>
    </div>
    <p class="md-body-2" ng-bind-html="me['schema:description'] | unsafe"></p>
  </div>
  <div ng-show="uiview.current=='list'">
    <md-table-container>
      <table md-table ng-model="selected" md-progress="curList">
        <thead md-head md-on-reorder="getNewOrder">
          <tr md-row>
            <th md-column><span></span></th>
            <th md-column md-order-by="headline"><span>Title</span></th>
            <th md-column ><span>Description</span></th>
            <th md-column md-order-by="source"><span>Institution</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row 
              md-select="ev" 
              md-select-id="{{pro['schema:name'].replace('dha:','')}}" 
              ng-repeat="pro in Model.projects | orderBy:sortfield:reverse"
              ui-sref="dha.s-project({nID:{{pro['schema:name'].replace('dha:','')}}})"
              class="vspinentry" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/30+'s','overflow':'hidden'}" >
        <td md-cell>
          <img class="tableicon md-whiteframe-3dp" ng-src="{{pro['schema:image']['src'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}" />
        </td>
            <td md-cell>{{pro['schema:headline']}}</td>
            <td md-cell>{{pro['schema:description']}}</td>
            <td md-cell>{{pro["schema:sourceOrganization"]["0"].name}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-whiteframe class="md-whiteframe-3dp" layout layout-align="center center">
  	  <md-list flex>
        <md-list-item class="vspinentry projectline md-3-line md-long-text" style="margin-top: 0px;" ng-repeat="pro in Model.projects" ui-sref="s-project({nID:{{pro['schema:name'].replace('dha:','')}}})" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/20 + 's'}">
            <img ng-src="{{pro['schema:image']['src'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}" class="md-avatar"/>
            <div class="md-list-item-text" >
                  <h3 style="color: #EF6C00">{{pro['schema:headline']}}</h3>
                  <p class="desctext">{{pro['schema:description']}}</p>
            </div>
            <md-button class="md-icon-button md-raised md-secondary desctext" aria-label="Share" ui-sref="dha.s-project({nID:{{pro['schema:name'].replace('dha:','')}}})">
              <md-icon style="color: #EF6C00" aria-label="library_books">library_books</md-icon>
            </md-button>
            <md-button class="md-icon-button md-raised md-secondary desctext" aria-label="Open Project" href="{{pro['schema:sameAs'][0]['url'] || '\:\)'}}" target="_blank">
              <md-icon style="color: #EF6C00" aria-label="open_in_new">open_in_new</md-icon>
            </md-button>
            <md-button class="md-icon-button md-raised md-secondary desctext" aria-label="Share" ui-sref="dha.s-project({nID:{{pro['schema:name'].replace('dha:','')}}})">
              <md-icon style="color: #EF6C00" aria-label="share-arrow">share_arrow</md-icon>
            </md-button>
            <md-divider ></md-divider>
        </md-list-item>
      </md-list>
    </md-whiteframe>  
  </div>
  <div layout="row" layout-xs="column" layout-padding layout-wrap layout-align="space-between stretch" ng-cloak ng-show="uiview.current=='tiles'">
    <md-card class="spinentry md-whiteframe-3dp spinexit projecttile" ng-repeat="pro in Model.projects" ng-style="dynStyle" ng-init="dynStyle={'animation-delay':$index/50 + 's'}">
      <md-card-header>
        <md-card-avatar  tid="{{pro['schema:sourceOrganization'][0].tid}}" ng-controller="embedTermCtrl" ui-sref="dha.s-partners({nID:'{{pro['schema:sourceOrganization'][0].tid}}', lang:'{{curlang}}'})" style="cursor: pointer;">
          <img class="tableicon md-whiteframe-3dp" ng-src="{{mySingle[0]['schema:thumbnailUrl'].src}}"/>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">{{pro['schema:sourceOrganization'][0].name}}</span>
          <span class="md-subhead"></span>
        </md-card-header-text>             
      </md-card-header>
      <div class="md-card-image" style="height: 200px!important; width: 100%; height: initial; background: url({{pro['schema:image']['src'] || 'http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png'}}) no-repeat scroll 50% 50% / cover; " >
      </div>
      <md-card-actions >
        <md-card-icon-actions layout="row" layout-align="end end">
          <md-button class="md-icon-button md-raised" aria-label="Share" ui-sref="dha.s-project({nID:{{pro['schema:name'].replace('dha:','')}}})">
            <md-icon style="color: #EF6C00" aria-label="library_books">library_books</md-icon>
          </md-button>
          <md-button class="md-icon-button md-raised" aria-label="Favorite" href="{{pro['schema:sameAs'][0]['url'] || '\:\)'}}" target="_blank">
            <md-icon style="color: #EF6C00" aria-label="open_in_new">open_in_new</md-icon>
          </md-button>
          <md-button class="md-icon-button md-raised" aria-label="Share" ui-sref="dha.s-project({nID:{{pro['schema:name'].replace('dha:','')}}})">
            <md-icon style="color: #EF6C00" aria-label="share-arrow">share_arrow</md-icon>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>
    	<md-card-title>
        <md-card-title-text>
          <span class="md-headline" style="color: #EF6C00"><h3>{{pro['schema:headline']}}</h3></span>
          <span class="md-subhead">{{pro['schema:description']}}</span>
        </md-card-title-text>
      </md-card-title>
  		<a target="_blank" class="btn btn-warning pull-right pull-top" title="{{pro['schema:sameAs'][0]['title'] || '\:\)'}}" ng-href="{{pro['schema:sameAs'][0]['url'] || '\:\)'}}"><i class="fa fa-external-link"></i></a>
  		<a ui-sref="s-project({nID:{{pro['schema:name'].replace('dha:','')}}})"></a>
    </md-card>  
  </div>
</div>