		<md-content>
				<div class='md-padding' layout="row" layout-wrap>
				  <md-card style="width:100%;" ng-repeat="know in mySingle">
					<md-card-content>
					<img height="75px" ng-src="{{know['schema:image']['src'] || 'https://dhdev.eos.arz.oeaw.ac.at/sites/default/files/dha_logo.png'}}" />
					  <h4 md-colors="{color: 'primary-500'}">{{know['schema:headline']}}</h4>
					  <md-content flex layout-padding ng-bind-html='(know["schema:description"] || "no description") | unsafe'></md-content>
					</md-card-content>
					<md-card-footer layout='row' layout-align="end center">
					  <i md-colors="{color: 'primary-800'}" class="material-icons">&#xE892;</i> <span style="text-transform:capitalize;font-size:11px;font-style:italic;">{{know['schema:tags'].join(', ') || 'No Tags'}}
					</md-card-footer>
				  </md-card>
				</div>
		</md-content>