<div class="contentcontainer" layout="column" ng-repeat="ev in mySingle" layout-align="start stretch">
    <div class="md-whiteframe-1dp" style="height: 300px!important; width: 100%; background: url({{ev['schema:image']['styles']['banner']}}) no-repeat scroll 50% 50% / cover; margin-top: 20px;" layout="column" layout-align="space-between stretch">
    	<div class="detailtoolbar" layout="row" layout-align="space-between center" style="padding-right: 20px; padding-left: 20px;">
			<div layout="row" layout-align="end center">
				<md-button  ng-repeat="inst in Institutions | termByID:ev['schema:organizer'][0].tid" ui-sref="dha.s-partners({nID: '{{inst['schema:url']['alias']}}', lang:'{{language}}'})" layout="row" layout-align="center center">
				    <img class="tableicon" ng-src="{{inst['schema:logo']['styles']['thumb'] || 'img/lowres_logo_1.png'}}"/>
				    <span hide show-gt-md class="md-caption" style="padding-left: 5px;">{{inst['schema:legalName']}}</span>
				</md-button>
			</div>
    		<div layout="row" layout-align="center center">
				<md-button class="md-icon-button" aria-label="Share">
					<md-icon md-colors="{color: 'primary-800'}" >share_arrow</md-icon>
				    <md-tooltip md-direction="bottom">
			          Share
			        </md-tooltip>							
				</md-button>
				<md-button class="md-icon-button" aria-label="get data as XML" ng-href="{{ev['schema:url']['xml']}}">
					<md-icon md-colors="{color: 'primary-800'}" >code</md-icon>
				    <md-tooltip md-direction="bottom">
			          XML
			        </md-tooltip>							
				</md-button>
				<md-button class="md-icon-button" aria-label="get data as JSON" ng-href="{{ev['schema:url']['json']}}">
					<md-icon md-colors="{color: 'primary-800'}" >settings_ethernet</md-icon>
				    <md-tooltip md-direction="bottom">
			          JSON
			        </md-tooltip>							
				</md-button>
			</div>												
    	</div>
    	<div>
    		<div class="detailtoolbar" layout="row" layout-align="space-between end" style="padding-right: 20px; padding-left: 20px;">
    			<div layout="column" layout-align="center end">
					<md-chips ng-model="ev['schema:keywords']" name="" readonly="true" md-removable="false" md-max-chips="5" hide-sm hide-xs>
						<md-chip-template ng-repeat="tag in DHATax | termByID:$chip.tid">
							<md-icon md-colors="{color: 'primary-800'}" >label_outline</md-icon>						
							<strong>{{$chip.name}}</strong>
							<em>({{tag.node_count}})</em>
						</md-chip-template>
					</md-chips>    				  			
    			</div>
    			<div layout="column" layout-align="center end">
	    			<h1 style="margin-bottom: 0px; text-align: right;">{{ev['schema:headline']}}</h1>
	    			<span class="md-subhead" >{{ev['displayDate'] | date:'dd. MMMM yyyy'}}</span>
    			</div>
    		</div>
    	</div>    	
    </div>
	<div layout="row" layout-align="space-between stretch" layout-wrap>
		<div flex-gt-sm="33" flex="100" class="bgbox" >
		    <div class="innerbgbox greybox" layout="column" >
				<div >
					<h4 flex="100" style="padding-left: 15px;">
					<md-icon md-colors="{color: 'primary-800'}" style="margin: auto 3px auto 0;" aria-label="">theaters</md-icon>
					Media
					</h4>
				</div>		    	
			    <div layout="column" layout-wrap layout-align-gt-sm="space-between center" layout-align="start center" >
			    	<md-card class="vspinentry md-whiteframe-1dp shorttile raise" ng-if="ev['schema:recordedIn']['url']" ui-sref="dha.recording({nID: '{{ev['schema:url']['alias']}}'})">
				    	<md-card-header style="padding: 0px!important;">
			    			<md-card-header-text  style="padding-left: 10px; padding-right: 10px; cursor: pointer;"  layout="row" layout-align="space-between center">
				    			<h3 md-colors="{color: 'primary-800'}">{{ev['schema:headline']}} </h3>
				    			<md-icon md-colors="{color: 'primary-800'}" style="margin: auto 3px auto 0;" aria-label="">theaters</md-icon>
			    			</md-card-header-text>
			    		</md-card-header>
				        <div class="md-card-image" ng-repeat="preview in ev['schema:sameAs'] | byProperty:'title':'_preview'" style="height: 90px!important; width: 100%; background: url({{preview['url']}}) no-repeat scroll 50% 50% / cover; " layout="column" layout-align="end">
				        </div>	
			    	</md-card>
			    	<md-card class="vspinentry md-whiteframe-1dp shorttile raise" ng-if="ev['schema:associatedMedia'][0]['src']" ui-sref="dha.slideshow({nID: '{{ev['schema:url']['alias']}}'})">
				    	<md-card-header style="padding: 0px!important;">
			    			<md-card-header-text  style="padding-left: 10px; padding-right: 10px; cursor: pointer;" ui-sref="dha.slideshow({nID: '{{ev['schema:url']['alias']}}'})" layout="row" layout-align="space-between center">
				    			<h3 md-colors="{color: 'primary-800'}">{{ev['schema:headline']}} </h3>
				    			<md-icon md-colors="{color: 'primary-800'}" style="margin: auto 3px auto 0;" aria-label="">camera_alt</md-icon>
			    			</md-card-header-text>
			    		</md-card-header>
				        <div class="md-card-image" style="height: 90px!important; width: 100%; background: url({{ev['schema:associatedMedia'][0]['styles']['tile']}}) no-repeat scroll 50% 50% / cover; " layout="column" layout-align="end">
				        </div>	
			    	</md-card>			    	
			    </div>				
		    </div>		        
		</div>
		<div flex-gt-sm="66" flex="100" style="padding: 20px;">
			<p flex layout-padding ng-bind-html='ev["schema:text"] | unsafe'></p>
		</div>
	</div>
	<div layout="row" layout-align="space-between stretch" layout-wrap ng-controller="embedTermCtrl" tags="{{ev['schema:keywords']}}">
		<div flex-gt-sm="33" flex="100" class="bgbox">
			<div class="innerbgbox greybox" layout="column" layout-align="">
				<div >
					<h4 flex="100" style="padding-left: 15px;">
						<md-icon md-colors="{color: 'primary-800'}" style="margin: auto 3px auto 0;" aria-label="">event</md-icon>
						Similar Events
					</h4>						
				</div>
				<div layout="column" layout-wrap layout-align-gt-sm="space-between center" layout-align="start center">
			    	<md-card class="vspinentry md-whiteframe-1dp shorttile raise" ng-repeat="ev in myList | limitTo:3" >
				    	<md-card-header style="padding: 0px!important;">
			    			<md-card-header-text  style="padding-left: 10px; padding-right: 10px; cursor: pointer;" ui-sref="dha.s-news({nID: '{{ev['schema:url']['alias']}}'})" layout="row" layout-align="space-between center">
				    			<h3 md-colors="{color: 'primary-800'}">{{ev['schema:headline']}} </h3>
				    			<span class="md-subhead"></span>
			    			</md-card-header-text>
			    		</md-card-header>
				        <div class="md-card-image" style="height: 90px!important; width: 100%; background: url({{ev['schema:image']['styles']['tile']}}) no-repeat scroll 50% 50% / cover; " layout="column" layout-align="end">
				        	<div class="tiletoolbar" layout="row" layout-align="end">
								<md-button class="md-icon-button" aria-label="Details" ui-sref="dha.s-news({nID: '{{ev['schema:url']['alias']}}'})">
									<md-icon md-colors="{color: 'primary-800'}" >library_books</md-icon>
								    <md-tooltip md-direction="bottom">
							          Details
							        </md-tooltip>
								</md-button>
								<md-button class="md-icon-button" aria-label="Share">
									<md-icon md-colors="{color: 'primary-800'}" >share_arrow</md-icon>
								    <md-tooltip md-direction="bottom">
							          Share
							        </md-tooltip>							
								</md-button>
								<md-button class="md-icon-button" aria-label="get data as XML" ng-href="{{ev['schema:url']['xml']}}">
									<md-icon md-colors="{color: 'primary-800'}" >code</md-icon>
								    <md-tooltip md-direction="bottom">
							          XML
							        </md-tooltip>							
								</md-button>
								<md-button class="md-icon-button" aria-label="get data as JSON" ng-href="{{ev['schema:url']['json']}}">
									<md-icon md-colors="{color: 'primary-800'}" >settings_ethernet</md-icon>
								    <md-tooltip md-direction="bottom">
							          JSON
							        </md-tooltip>							
								</md-button>												
				        	</div>
				        </div>	
			    	</md-card>	 
			    </div>								
		    </div>	
		</div>
		<div flex-gt-sm="33" flex="100"  class="bgbox">
			<div class="spinentry md-whiteframe-1dp raise innerbgbox" style="padding: 0px!important;">
				<h4 flex="100" style="padding-left: 15px;">
					<md-icon md-colors="{color: 'primary-800'}" style="margin: auto 3px auto 0;" aria-label="">open_in_new</md-icon>
					Downloads / Links
				</h4>	
				<div layout="row" layout-align="start center" style="padding-left: 20px;" ng-repeat="link in ev['schema:sameAs']">
					<a href="{{link.url}}"><h4 class="md-caption">{{link.title}}</h4></a>
				</div>	
				<div layout="row" layout-align="start center" style="padding-left: 20px;" ng-repeat="link in ev['schema:attachmt']">
					<a href="{{link.src}}"><h4 class="md-caption">{{link.name}}</h4></a>
				</div>						
			</div>
		</div>
		<div flex-gt-sm="33" flex="100" style="" class="bgbox">
			<div class="spinentry md-whiteframe-1dp raise innerbgbox" style="padding: 0px!important;">
				<h4 flex="100" style="padding-left: 15px;">
					<md-icon md-colors="{color: 'primary-800'}" style="margin: auto 3px auto 0;" aria-label="">place</md-icon>
					Event Location
				</h4>					
				<leaflet markers="markers" layers="layers"  style="min-width: 300px; height: 500px;" ng-if="ev['geo']"></leaflet>
			</div>
		</div>
	</div>	
</div>