<div class="container text-center">
  <img style="padding:69px;" src="http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png" />
</div>

<div class="container" ng-controller="acdhNav">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-xs-3" ng-repeat="me in Model.start | startMenu:'schema:keywords'">
        <a ui-sref="{{me['schema:headline'].split(' ').join('') | lowercase}}">
		  <div class="offer offer-radius offer-warning">
			  <div class="shape">
				  <div class="shape-text"></div>
			  </div>
			  <div class="offer-content text-center text-warning">
				  <h3 class="lead text-center">ACDH </h3>
				  <h4>{{me['headline']}}</h4>
				  <p class="text-left" style="border-top: dotted 1px;">{{me['description']}}</p>
			  </div>
		  </div>
        </a>
    </div>
  </div>
</div>